<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtCN4CVBtdTZiTA08IXQ4J8ZW3XaKltu8</string>
	<key>GCM_SENDER_ID</key>
	<string>968424227411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.idtinc.bpgRetail</string>
	<key>PROJECT_ID</key>
	<string>asbc-v2prod</string>
	<key>STORAGE_BUCKET</key>
	<string>asbc-v2prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968424227411:ios:1e552264808c457f32bca6</string>
</dict>
</plist>